.features-titles {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  color: #2e2f42;
}

.features-items{
  display: flex;
  gap: 8px;
  flex-direction: column;
  
}

.features-list{
  display: flex;
  flex-direction: row;
  gap: 24px;
  
}

.features-items {
  flex-basis: calc((100% - 72px) / 4);
}

.icon-decor{
  background-color: #F4F4FD;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  height: 112px;
}

