.footer-logo{
    color: #4D5AE5;
}

.footer-link{
    font-weight: 700;
    font-size: 18px;
    
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer{
    background-color: #2E2F42;
    padding: 100px 0px;
}

.footer-disc{
    color: #F4F4FD;
}

.footer-text{
    color: #FFFFFF;
    font-weight: 500;
}

.container-cont{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 264px;
    margin-right: 120px;
}

.footer .container{
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    padding: 0px 15px;
}

.footer-icons{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-icon{
    background-color: #4D5AE5;
    color: #f4f4fd;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms ease-in-out;
}

.footer-icon:hover,
.footer-icon:focus{
    background-color: #31D0AA;
}

.social-links-f{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.f-icon {
    fill: currentColor;
}

.plane-icon {
    color: #FFFFFF;
}

.footer-btn {
    width: 165px;
    padding: 8px 24px;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   gap: 16px;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #31D0AA;
}

.subscribe-input {
    height: 40px;
    width: 264px;
    border: 1px solid #FFFFFF;
    background-color: transparent !important;
    border-radius: 4px;
    padding: 8px 16px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder{
    color: #FFFFFF;
}

.subscribe-input:hover,
.subscribe-input:focus {
    border-color: #31D0AA;
    outline: none;
}

.form-field-footer {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.forma-footer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    margin-left: auto;
}